.content-editable{
  border: 1px solid transparent;
  &>div{
    outline:0px;
    overflow:hidden;
  }

}
.content-editable-active{
  border: 1px solid $input-border;  
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  @include placeholder();
  position:relative;
  white-space:pre-wrap; 
  &.isEmpty:before{
    color: rgb(153, 153, 153);
    content: attr(placeholder);
    font-style: italic;
    height: 100%;
    line-height: 140%;
    padding-left: 1ex;
    position: absolute;
    width: 100%;    
  }
  &.multiline>div{
    min-height:4em;
  }
  &.focus{
    border-color: $input-border-focus;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6));
  }
}
