<div id="userArea">
  <a ng-href="{{user._id ? ('/user/' + user._id + '/' + area.url) : '/sys/login'}}">
    <img ng-src="{{user.image}}">
  </a>
  <div>
    <a title="{{user.name}}" ng-href="{{user._id ? ('/user/' + user._id + '/' + area.url) : '/sys/login'}}" ng-bind="user.name"></a>
    <a ng-show="user._id && user.notifications.length==0" translate="noNotifications"></a>
    <notifications-bar></notifications-bar>
  <span ng-if="user.users.length" uib-dropdown>
  <a translate="chooseUser" uib-dropdown-toggle></a>
  <ul class="dropdown-menu" class="list-group" >
    <li class="list-group-item" ng-repeat="user in user.users track by user._id">
      <user-card user="user" ng-click="useUser(user)"></user-card>
    </li>
  </ul>
  </span>
    <a ng-show="user._id" ng-click="logout()" translate="logout"></a>
  </div>
</div>
