<div id="login">
  <div id="landing">
    <div class="info">
      <div translate="info">
      </div>
    </div>
    <div class="login">
      <div ng-hide="user && user.profile.type!=='email'">
        <h4 translate="mail_title"></h4>
        <p>
          <div class="input-group">
            <input type="email" class="form-control" ng-model="email" >
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="sendCode(email)" translate="mail_button"></button>
            </span>
          </div>
          <h4 ng-show="hmac && session" translate="mail_confirm_title"></h4>
          <div ng-show="hmac && session" class="input-group">
            <input type="text" ng-model="code" class="form-control">
            <span class="input-group-btn">
              <a  target="_self"  class="btn btn-default" ng-href="/api/auth/email/{{code}}/{{hmac}}/{{session}}" translate="mail_confirm_button"></a>
            </span>
          </div>
        </p>
      </div>
      <h4 ng-hide="user" ng-if="anyOauth()" translate="oauth" ></h4>

      <a ng-if="oauth.url && !user" ng-repeat = "oauth in oauths" target="_self" ng-href="{{oauth.url}}">
        <img  class="clickable" ng-src="/assets/images/{{oauth.icon}}"/>
      </a>

      <a ng-if="oauth.url && user" ng-repeat = "oauth in oauths">
        <div ng-show="user">
          <user-card user="user" href="{{oauth.url}}"></user-card>
        </div>
      </a>



      <div ng-if="anyOauth()" translate="safe"></div>

      <div ng-hide="login" translate="cookies"></div>
      <div translate="terms"></div>

      <h4 translate="{{guest_title}}"></h4>
      <button class="btn btn-default" ng-click="guest()" translate="{{guest_button}}"></button>
    </div>
  </div>
</div>
