.leftBarToggle{
  display:none;
  position: absolute;
  font-size: 250%;
  top: 14px;
  left: 14px;
}
#crowdference{
  @extend .left;
  h1{
    font-family: Merriweather;
    font-style: italic;
    font-weight:normal;
    font-size:37px;
  }
}
#moto{
  @extend .center;
}
#license{
  display:none;
  position: absolute;
  right: 30px;
}

@media (max-width:1100px) and (min-width:550px){
  #topBar .languages{
    display:block;
    width:auto;
  }
}

@media (max-width:850px){
  .leftBarToggle{
    display:block;
  }
  #crowdference{
    display:none;
  }
  #topBar{
    .links {
      padding-left:50px;
      &>a{
        padding:1ex;
        line-height: 4ex;
      }
    }
  }
}

@media (max-width:550px){
  #topBar{
    .links {
      padding-left:15px;
      &>a{
        padding:0.5ex;
        line-height: 2ex;
      }
    }
  }
}
